body {
  margin: 0px;
  font-family: Verdana, sans-serif;
  background: linear-gradient(90deg, #f2e6ff, #dfbf9f, #ffe6e6);
}
h1, p {
  text-align: center;
}
form {
  background-color: #1a0000;
  color: #ffe6e6;
  max-width: 500px;
  margin: 2rem auto;
}
body, #number, #email, #name, select  {
  font-size: 18px;
  margin: 1rem auto;
  width: 100%;
  height: 2rem;
}

#submit {
  font-size: 18px;
  display: block;
  height: 2rem;
  margin: auto;
}
label {
  display: block;
  width: 100%;
  margin: 1rem auto;
}
#check {
  font-size: 14px;
  display: inline-block;
}
textarea {
   font-size: 18px;
  margin: 1rem auto 0 auto;
  width: 100%;
}

fieldset {
  border: none;
}
