* {
  box-sizing: border-box;
}
body {
  font-size: 18px;
  background-color: #F3E9DC;
  color: #3A2E39;
  margin: 0;
}

p {
  margin: 1em auto;
  text-align: center;
  width: 50%;
}

form {
  width: 50%;
  max-width: 600px;
  margin: auto;
}

h1, legend {
  background-color: #3A2E39;
  color: #F3E9DC;
  text-align: center;
  width: 100%;
  margin: auto;
  padding: 1rem;
}

fieldset {
  border: none;
  width: 100%;
}

input, select, textarea {
  color: #3A2E39;
  background-color: #DACEDF;
  display: block;
  font-size: 18px;
  margin: 0.5rem 0;
  width: 100%;
}

input[type="radio"], input[type="checkbox"] {
  display: inline-block;
  width: 5%;
}

#submit {
  background-color: #1E555C;
  color: #F3E9DC;
  font-weight: bold;
  padding: 0.5rem;
  font-size: 1rem;
  width: 30%;
  margin: 0 auto 1em;
  display: block;
  border-radius: 10%;
}

#submit:hover {
  background-color: #CA7DF9;
  color: #3A2E39;
}

